
#productscategory {
	margin: 2em auto 0;
	height: 120px;
	width: 100%;
}

#productscategory_noscroll {
	height: 120px;
	width: 100%;
	margin-bottom: 30px;
}



#productscategory_list ul {
	padding-left: 10px;
	list-style-type: none;
}

#productscategory_list li {
float: left;
margin-right: 10px;
cursor: pointer;
text-align: center;
width: 90px;
overflow: hidden;
line-height: 20px;
height: 150px;
padding: 5px;

}

#productscategory_list li a { 
	float: left;
}
.price_display span{
	color:black;
}
#productscategory_scroll_left, #productscategory_scroll_right {
	background: url('img/thumbs_left.gif') no-repeat center;
	text-indent: -3000px;
	display: block;
	width: 9px;
	height: 18px;
	float: left;
	margin-top: 30px;
}

#productscategory_scroll_right { background-image: url('img/thumbs_right.gif'); }