@charset "utf-8";
/*@import url('global.css');
@import url('dropdown-sub-menu.css');
@import url('colour.css');
*/
#product-list{
	position: relative;
}
#ajax-loading{
background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 255, 255);background-position: initial initial; background-repeat: initial initial;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}

#ajax-loading img{
		left: 50%;
    margin-left: -24px;
    position: absolute;
    top: 100px;
}


.box-adv {
	float:left;
	clear:both;
}
.box-product {
	float:left;
	width:100%;
	clear:both;
	margin-bottom:10px;
}
/*.box-product .filter {
	float:left;
	width:740px;
	clear:both;
	height:45px;
}*/
.box-product .filter ul {
	float:left;
	clear:both;
	display:block;
	list-style:none;
	width:740px;
	background-color:#f0f0f0;
}
.box-product .filter ul li {
	float: left;
width: 108px;
background: #DFDDDE url(../images/bg/point-flow.gif) left center no-repeat;
padding-left: 10px;
padding-top: 10px;
padding-bottom: 10px;
margin-left: 2px;
position: relative;
height:33px;
z-index:10;
}
.box-product .filter ul li h3 {
	cursor:pointer;
}
.box-product .filter ul li.first {
	width:128px;
	background:#f0f0f0;
}
.box-product .filter ul li strong {
	float:left;
	width:100%;
	clear:both;
}
.box-product .filter ul li strong a {
	color:#bf2559;
}
.box-product .filter ul li.first strong a{
	color:#36423e;
	font-size:14px;
}
.box-product .filter ul li span {
	float:left;
	width:100%;
	
}
.box-product .filter ul li span a {
	color:#7e7c7d;
	font-size:11px;
}
.box-product .items {
	float:left;
	clear:both;
}
.box-product .items ul#productList {
	float:left;
	clear:both;
	width:790px;
	list-style:none inside;
	display:block;
}
.box-product .items ul#productList li{
	padding-bottom: 25px;
margin-top: 10px;
}
.box-product .items ul li {
	width: 179px;
padding: 4px;
float: left;
margin: 5px;
/*border-bottom: 1px solid #E1E1E1;*/
}
.box-product .sort {
	float:left;
	width:100%;
}
.box-product .sort h4 {
	float:left;
	width:70%;
	font-size:11px;
	font-weight:normal;
	line-height:20px;
}
.box-product .sort .select {
	float:left;
	width:30%;
}
.box-product .sort .select label {
	float:left;
	width:auto;
	margin-right:5px;
	font-size:11px;
	line-height:20px;
}
.box-product .sort .select select {
	border:1px solid #CCCCCC;
	width:182px;
	font-size:11px;
	height:20px;
}

/* Tabs */

.block_hidden_only_for_screen { display: none }

#more_info_block{
	
	float: left;
	width: 360px;
	font-family: Arial,Helvetica,Verdana,sans-serif;
font-size: 11px;
color: #414042;
  min-height: 515px;
}

.idTabs {
	list-style-type: none;
	height: 21px;
	margin-bottom: -1px;
	border-bottom: 1px solid #D4D4D4;
}
ul.idTabs li {
	float: left;
	margin-right: 1px
}
.idTabs a {
/*	background-image: url('../img/tab_bg.jpg');*/
	display: block;
	width: 173px;
	height: 17px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 3px;
	color: #374853;
	border-top: 1px solid #DFDFDF;
	border-right: 1px solid #BEBEBE;
	border-left: 1px solid #EEE;
	background-color: #F7F7F7;
color: #333;
-moz-border-radius: 4px 4px 0 0;
-webkit-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
}
.idTabs .selected {
/*	background-image: url('../img/tab_bg_selected.jpg');*/
	color: red;
}

/* IdTabs Short*/
.idTabsShort a {
/*	background-image: url('../img/tab_bg_short.jpg');*/
	width: 138px
}
.idTabsShort .selected {
/*	background-image: url('../img/tab_bg_selected_short.jpg');*/
	color: black;
background: white;
-moz-border-radius: 4px 4px 0 0;
-webkit-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
margin-bottom: 0px;
height: 18px;
border-top: 1px solid #DFDFDF;
border-right: 1px solid #BEBEBE;
border-left: 1px solid #EEE;
}
div.sheets {
	clear: both;
	padding: 30px 0 0 30px;
	width: 87%;
}
#more_info_sheets li {
	background-position: 6px 4px;
	margin-bottom: 0.4em 
}

.sorthitscontainer {
/*    background: url("../images/category_search_bg.jpg") repeat-x scroll 0 0 transparent;*/
	  background-color: #000;
		border: 1px solid #313131;
    color: #FFFFFF;
    padding: 4px 10px;
		height: 17px;
		font-size: 12px;
		margin-bottom: 5px;
		width:768px;
		padding-bottom:8px;
}

.sorthitscontainer fieldset{
	border: none;
}

.sorthitscontainer select{
	border: 1px solid #CCC;
	color: #505050;
}

.sorthitscontainer .sortby {
    float: left;
    width: 165px;
}

.sorthitscontainer .itemsperpage {
    float: right;
    text-align: right;
    width: 90px;
}

.sorthitscontainer .resultshits {
/*    margin-top: 5px;*/
    text-align: center;
}
#thumbs_list_frame li{
	border:none;
	margin:0!important;
	padding-bottom:0px!important;
}
#color-images{
	height: 30px;
overflow: hidden;
}
h2.productscategory_h2 {
	color: black;
font-weight: normal;
font: 13px 'Univers_lt_cn';
text-transform: uppercase;
padding: 8px 0 5px;
text-align: center;
background: url(../images/bg/product_right_h2.png) no-repeat 50% 0;
}
#productscategory_list {
	overflow: hidden;
	padding-top: 20px;
	float: left;
	width: 100%;
	background: url(../images/bg/product_right_h2.png) no-repeat 50% 0;
}
#productscategory_list img{
	width:90px;
	height:120px;
}
span.price{
	color: black;
font-family: arial,sans-serif;
font-size: 11px;
font-weight: bold;
}

#color_to_pick_list a{
background: url("../images/sh_color.png") no-repeat scroll 0 0 transparent;
    height: 16px;
    padding: 5px 4px;
    width: 16px;
}
#color_to_pick_list a.current, #color_to_pick_list a:hover{
	background: url("../images/sh_color_c.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
}

#color_to_pick_list a.gotBlurred{
	background: url("../images/sh_color_d.png") no-repeat scroll 0 0 transparent;
}

#color_to_pick_list a.gotBlurred:hover{
	cursor: auto;
	background: url("../images/sh_color_d.png") no-repeat scroll 0 0 transparent;	
}

#color_to_pick_list a.gotBlurred img{
	opacity: 0.3 !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=3)";
	-khtml-opacity: 0.3;
	-moz-opacity: 0.3;
	filter: alpha(opacity=3);	
}

#size_to_pick_list{
	margin-top: 4px;
	margin-left: 10px;
}

#size_to_pick_list a:hover{
	border: 1px solid black;
	cursor: pointer;
}

#size_to_pick_list a.gotBlurred{
	color: #384140;
	text-decoration: line-through;
}

#size_to_pick_list a.gotBlurred:hover{
	border: none;
	cursor: auto;
  line-height: 19px;
}

#size_to_pick_list a.current{
	background-color: #707070;
	color: white;
}

#size_to_pick_list li{	
	height: 18px;
	display: inline-block;
	float: left;
	border: 1px solid #A3A3A4;
	cursor: pointer;
	text-align: center;
	padding: 0;
	margin: 0 10px 10px 0;
	font-size: 11px;
	line-height: 17px;
	background-color: white;
	min-width: 27px;	
	width: 36px;
}

#size_to_pick_list li a{
	height: 16px;
	display: block;
	border: 1px solid white;
	text-transform: uppercase;
	cursor: pointer;
	text-align: center;
	font-size: 11px;
	line-height: 17px;
}