<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>baokim</name>
	<displayName><![CDATA[Bảo Kim]]></displayName>
	<version><![CDATA[]]></version>
	<description><![CDATA[Accept payments by Bảokim.vn]]></description>
	<author><![CDATA[PrestaShop]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>